[submodule "boot/freetype"]
	path = boot/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "cc-runtime"]
	path = cc-runtime
	url = https://codeberg.org/OSDev/cc-runtime.git
[submodule "cLib"]
	path = cLib
	url = https://codeberg.org/BloodyHell-Industries-INC/cLib.git
