[submodule "boot/freetype"]
	path = boot/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "Edk2BH"]
	path = Edk2BH
	url = https://codeberg.org/BloodyHell-Industries-INC/Edk2BH.git
[submodule "cc-runtime"]
	path = cc-runtime
	url = https://codeberg.org/OSDev/cc-runtime.git
